
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

        body {
            font-family: 'Kanit', sans-serif;
            margin: 0;
            padding: 0;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #E8E8E8;
        }

    

        .navbar>h1 {
            margin-left: 30px;
        }

        .navbar>.nav-menu {
            margin-right: 30px;
            margin-top: 10px;
        }

        hr {
            margin: 0;
            padding: 0;
        }

        .navbar>.nav-menu>ul {
            display: flex;
            flex-direction: row;
        }

        .navbar>.nav-menu>ul>li {
            padding: 5px;
            padding-right: 30px;
            list-style-type: none;
            
        }

        .navbar>.nav-menu>ul>li>a{
            text-decoration: none;
            color:black;
            padding:10px;
        }

        .navbar>.nav-menu>ul>li>a:hover{
            background-color: black;
            color:white;
            border-radius: 10px;
        }

        .main {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
        }

        .main-left {
            width: 40%;
            height: 600px;
        }

        .main-left>img {
            width: 600px;
            height: 600px;
            object-fit: cover;
        }



        .main-right {
            width: 60%;
            height: 600px;
            /* background-color: red; */
            text-align: center;
            vertical-align: auto;
        }

        .main-right>h1 {
            font-size: 80px;
            margin-bottom: -130px;
            margin-top: 150px;
        }

        .main-right>h2 {
            margin-bottom: 80px;
        }

        .main-right>button {
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: black;
            border: 2px solid #555555;
            border-radius: 20px;
        }


        .main-right>button:hover {
            background-color: #E8E8E8;
            /* text-decoration: underline; */
        }


        .second-div {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
        }



        .second-left>ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        .second-left>ul>li {
            margin: 0;
            padding: 0;
        }

        .second-right>ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        .second-right>ul>li {
            margin: 0;
            padding: 0;
        }

        .second-left {
            width: 50%;
            text-align: center;
            vertical-align: auto;
            padding: 30px;
            background-image: url("img/loyola.png");
            background-size: cover;
            background-position: center;
            color: black;
            border-right: 1px solid grey;

        }


        .second-right {
            width: 50%;
            text-align: center;
            vertical-align: auto;
            padding: 30px;
            background-image: url("img/dsce.png");
            background-size: cover;
            background-position: center;
            color: black;

        }

        .about {
            /* width: 70%; */
            margin: auto;
            text-align: center;
            vertical-align: auto;
            /* margin: 20px; */
            padding: 150px;
            font-size: 20px;
            font-weight: 800;
            background-color: #E8E8E8;
        }

        .skills {
            width: 50%;
            margin: auto;
            text-align: center;
            vertical-align: auto;
            padding: 70px;
            font-size: 20px;
            font-weight: 800;
            margin-top: 0;
        }

        .skills-intersts-lang {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
        }

        .interest-lang-achievements {
            width: 50%;
            margin: auto;
            text-align: center;
            vertical-align: auto;
            /* padding: 50px; */
            font-size: 20px;
            font-weight: 800;
            display: flex;
            flex-direction: column;
        }

        .interest-lang>ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        .interset {
            height: 300px;
   

        }

        .lang {
            height: 200px;
            background-color: #E8E8E8;
  
        }

        .achievements {
            height: 200px;
         

        }

        .hackathon {
            height: 300px;
            background-color: #E8E8E8;
        }

        .hackathon>ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        .hackathon>ul>li {
            margin: 0;
            padding: 0;
        }

        .lang>ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        .lang>ul>li {
            margin: 0;
            padding: 0;
        }

        .achievements>ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        .achievements>ul>li {
            margin: 0;
            padding: 0;
        }

        .interset>ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        .interset>ul>li {
            margin: 0;
            padding: 0;
        }

        .footer{
            margin: 20px;
            margin-left: 140px;
            margin-right: 140px;
        }

       
        .footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  
}

.footer >ul> li{
    font-weight: 800;
}

.footer>ul>li>a{
            text-decoration: none;
            color:black;
            padding:10px;
        }

        .footer>ul>li>a:hover{
            background-color: black;
            color:white;
            border-radius: 10px;
        }
        .headerrr {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-containerrr {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-barrr {
  height: 8px;
  background: #0E6FFD;
  width: 0%;
}
